In [15]:
import numpy as np
import pandas as pd

In [35]:
W = np.random.normal(size=(5,1))

In [36]:
W.shape

(5, 1)

In [32]:
W = W.squeeze()
W.shape

(5,)

In [37]:
W

array([[ 0.97612786],
       [ 0.09098755],
       [ 1.46814316],
       [ 2.69193825],
       [-0.96299166]])

In [38]:
pd.DataFrame(data = W)

          0
0  0.976128
1  0.090988
2  1.468143
3  2.691938
4 -0.962992

In [39]:
task_loss = 0.

In [ ]:
task_loss += np.sum((obs_ys - pred)**2) / float(n_items) # mse