# Evaluate SCHOLAR results

In [133]:
# yelp | booking | synth
dataset = "synth"

In [134]:
import os, sys, scipy, json
from scipy import sparse
import codecs
import numpy as np
import pandas as pd
import file_handling as fh
from sklearn.model_selection import train_test_split

In [135]:
if sys.platform == "darwin":
    pass
else:
    if dataset == "synth":
         input_dir = "/nfs/home/maxa/results/"+dataset+'/scholar_split/'
    else:
        input_dir = "/nfs/home/maxa/results/"+dataset+'/scholar/'
        
print(input_dir)
#try:
#    os.mkdir(output_dir)
#except:
#pass

/nfs/home/maxa/results/synth/scholar/

In [123]:
os.listdir(input_dir)

['w_intercept', 'k_200', 'k_30', 'k_150', 'k_20', 'k_10', 'k_100', 'k_50']

In [124]:
if dataset == 'booking':
    ks = ['k_200', 'k_30', 'k_150', 'k_20', 'k_10', 'k_100', 'k_50']
elif dataset == 'yelp':
    ks = ['k200', 'k30', 'k150', 'k20', 'k10', 'k100', 'k50']

In [125]:
pR = pd.DataFrame()
mse = pd.DataFrame()
pplxy = pd.DataFrame()
for k in ks:
    pRs = []
    mses = []
    pplxies = []
    runs_dir = input_dir + k
    for run in os.listdir(runs_dir):
        pRs.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_pR2.txt'),
                               header = None).values[0][0])
        mses.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_mse.txt'),
                               header = None).values[0][0])
        pplxies.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_perplexity.txt'),
                               header = None).values[0][0]) 
    pR = pd.concat([pR,pd.DataFrame(pRs, columns=[k])], ignore_index=True, axis=1)
    mse = pd.concat([mse,pd.DataFrame(mses, columns=[k])], ignore_index=True, axis=1)
    pplxy = pd.concat([pplxy,pd.DataFrame(pplxies, columns=[k])], ignore_index=True, axis=1)
pR.columns = ks
mse.columns = ks
pplxy.columns = ks

In [126]:
pr_stats = pR.describe().T
pr_stats[["mean",'std']]

           mean       std
k_200  0.378978  0.042709
k_30   0.494797  0.002571
k_150  0.481989  0.012730
k_20   0.495444  0.003129
k_10   0.493897  0.004791
k_100  0.489331  0.002454
k_50   0.493856  0.003874

In [127]:
pr_stats[["mean",'std']].to_latex()

'\\begin{tabular}{lrr}\n\\toprule\n{} &      mean &       std \\\\\n\\midrule\nk\\_200 &  0.378978 &  0.042709 \\\\\nk\\_30  &  0.494797 &  0.002571 \\\\\nk\\_150 &  0.481989 &  0.012730 \\\\\nk\\_20  &  0.495444 &  0.003129 \\\\\nk\\_10  &  0.493897 &  0.004791 \\\\\nk\\_100 &  0.489331 &  0.002454 \\\\\nk\\_50  &  0.493856 &  0.003874 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [128]:
pplxy_stats = pplxy.describe().T
pplxy_stats[["mean",'std']].astype(int)

                      mean                  std
k_200 -9223372036854775808 -9223372036854775808
k_30                  2110                  396
k_150       26454356774749      118307479071041
k_20                  1420                  163
k_10                   941                  134
k_100                31601                19590
k_50                  5014                 1314

In [130]:
pplxy.astype(int)

                  k_200  k_30            k_150  k_20  k_10   k_100  k_50
0                 97523  2177            64363  1612   906   27625  4674
1                 34845  1767           133553  1471   872   28566  5737
2                480058  1773           132781  1337   962   17278  6606
3                 29364  2360           429083  1197  1008   20274  5889
4                 96082  3378           280573  1336   743   32060  3857
5                278056  2243           172696  1496   990   23835  4557
6               1347949  2054           160046  1455   963   26836  3668
7                  5245  2110           249455  1808   936   26729  4206
8                 33428  1952           254675  1432  1211   23734  6297
9                189466  1546            84627  1401   714  100777  7500
10              2575175  2054           177009  1257   829   21753  4193
11               315199  1713           324928  1427   830   47211  8114
12                 3854  2769  529087131128767  1435  1052   58464  4066
13             15881231  2239           378307  1302  1127   16921  3651
14               101908  1876           145132  1407   837   23867  5778
15 -9223372036854775808  1963            99278  1380   959   17761  3718
16       76916653024575  2164           154322  1648   726   40486  4185
17                 4448  2022           178958  1418  1087   20521  4027
18               691830  2045           116052  1043  1024   39414  4792
19                81483  1990           830379  1529  1038   17917  4757

#