# Evaluate SCHOLAR results

In [3]:
dataset = "booking"

In [4]:
import os, sys, scipy, json
from scipy import sparse
import codecs
import numpy as np
import pandas as pd
import file_handling as fh
from sklearn.model_selection import train_test_split

## load data and save in SCHOLAR format

In [9]:
if sys.platform == "darwin":
    pass
else:
    input_dir = "/nfs/home/maxa/results/"+dataset+'/scholar/'
print(input_dir)
#try:
#    os.mkdir(output_dir)
#except:
#pass

/nfs/home/maxa/results/booking/scholar/

In [10]:
os.listdir(input_dir)

['w_intercept', 'k_200', 'k_30', 'k_150', 'k_20', 'k_10', 'k_100', 'k_50']

In [11]:
ks = ['k_200', 'k_30', 'k_150', 'k_20', 'k_10', 'k_100', 'k_50']

In [15]:
for k in ks:
    runs_dir = input_dir + k

In [27]:
runs_dir

'/nfs/home/maxa/results/booking/scholar/k_50'

In [28]:
run

'k50_ep200_run_1'

In [24]:
run = os.listdir(runs_dir)[0]

In [35]:
pd.read_csv(os.path.join(runs_dir,run,'test_eval_pR2.txt'), header = None).values[0][0]

0.4961835142450908

In [82]:
pR = pd.DataFrame()
mse = pd.DataFrame()
pplxy = pd.DataFrame()
for k in ks:
    pRs = []
    mses = []
    pplxies = []
    runs_dir = input_dir + k
    for run in os.listdir(runs_dir):
        pRs.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_pR2.txt'),
                               header = None).values[0][0])
        mses.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_mse.txt'),
                               header = None).values[0][0])
        pplxies.append(pd.read_csv(os.path.join(runs_dir,run,'test_eval_perplexity.txt'),
                               header = None).values[0][0]) 
    pR = pd.concat([pR,pd.DataFrame(pRs, columns=[k])], ignore_index=True, axis=1)
    mse = pd.concat([mse,pd.DataFrame(mses, columns=[k])], ignore_index=True, axis=1)
    pplxy = pd.concat([pplxy,pd.DataFrame(pplxies, columns=[k])], ignore_index=True, axis=1)
pR.columns = ks
mse.columns = ks
pplxy.columns = ks

In [96]:
pr_stats = pR.describe().T
pr_stats[["mean",'std']]

           mean       std
k_200  0.378978  0.042709
k_30   0.494797  0.002571
k_150  0.477114  0.033447
k_20   0.495444  0.003129
k_10   0.493897  0.004791
k_100  0.489331  0.002454
k_50   0.493856  0.003874

In [97]:
pplxy_stats = pplxy.describe().T
pplxy_stats[["mean",'std']]

               mean           std
k_200  4.769491e+19  2.132981e+20
k_30   2.110260e+03  3.964802e+02
k_150  1.455880e+20  6.346033e+20
k_20   1.420071e+03  1.636719e+02
k_10   9.412744e+02  1.346046e+02
k_100  3.160195e+04  1.959027e+04
k_50   5.014065e+03  1.314977e+03